<div class="container">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="video-description">Local:</p>
          <video #local_video autoplay muted class="video-feed"></video>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="video-description">Remote:</p>
          <video #received_video autoplay class="video-feed"></video>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary me-2" (click)="startLocalVideo()" [disabled]="localVideoActive">Start Local</button>
    <button class="btn btn-secondary me-2" (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Local</button>
    <button class="btn btn-success me-2" (click)="call()" [disabled]="inCall || !localVideoActive">Call</button>
    <button class="btn btn-danger" (click)="hangUp()" [disabled]="!inCall">Hang Up</button>
  </div>
</div>
