/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.video-feed {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }